*{margin:0;padding:0;}
body{color:#333;font:12px "microsoft yahei"; background:#f7f7f7}	
ul,li,dd,dt{list-style:none;}
em,i{font-style:normal;}
a{color:#333;text-decoration:none;}
a:hover{color:#fc9600;text-decoration:none;}
img{border:0;}	
.marcen{margin:0 auto;}
.clear{clear:both;height:0;overflow:hidden;}
/*     font-size     */
.font12{font-size:12px;}
.font14{font-size:14px;}
.font16{font-size:16px;}
.font18{font-size:18px;}
.font20{font-size:20px;}
.fontbold{font-weight:bold;}	
/*     font-color    */	
.color_33{color:#333;}
.color_33 a{color:#333;}
.color_33 a:hover{color:#fc9600;}
.color_66{color:#666;}
.color_66 a{color:#666;}
.color_66 a:hover{color:#fc9600;}
.color_99{color:#999;}
.color_99 a{color:#999;}
.color_99 a:hover{color:#fc9600;}
.color_red,a.color_red{color:#fc9600;}
.color_red a{color:#fc9600;}
.color_red a:hover{color:#fc9600;}
.color_blue{color:#006ac1;}
.color_blue a{color:#006ac1;}
.color_blue a:hover{color:#fc9600;}
.color_white{color:#fff;}
.color_white a{color:#fff;}
.color_white a:hover{color:#fff;}
/*     font-family    */	
.englist{font-family:Tahoma, Geneva, sans-serif;}
.englist_one{font-family:Arial, Helvetica, sans-serif;}
.index_top_bg{ width:100%; height:39px; border-bottom:1px solid #ea7900; background:#ff8400; position:fixed; top:0; left:0; z-index:9;}
.index_top{ width:960px; height:40px; margin:0 auto -1px;}
.index_top li{ height:40px; float:left}
.index_top li a{ height:40px; display:block; float:left; padding:0 25px; line-height:40px; color:#fff; font-size:14px; font-weight:bold}
.index_top li a:hover,.index_top li a.hover{ color:#fff; background:#e35000;}
.i_top .qq,.i_top .weibo,.seach_botton,.jiantou span.jt_left a,.jiantou span.jt_right a{background:url(../images/i_icon.gif) no-repeat;}
.i_top_bg{height:30px;border-bottom:1px solid #ededed;}
.i_top{width:960px;height:30px;text-align:right;line-height:30px;margin:0 auto;}
.i_top a,.i_top span{margin:0 0 0 11px;}
.i_top span{color:#d9d8d8;margin:0 0 0 11px;}
.i_top .qq{padding:0 0 0 23px;background-position:-150px top;}
.i_top .weibo{padding:0 0 0 23px;background-position:-150px -20px;}
.i_nav_bg{height:112px;border-bottom:1px solid #fdbc47; background:#fff;}
.i_nav{width:960px;margin:0 auto;}
.i_nav .logo{width:220px;height:80px;float:left;padding:15px 0 0;}
.i_nav .nav_list{ width:390px;height:32px;float:left;display:inline;font-size:16px;margin:40px 0 0 5px;}
.i_nav .nav_list li{height:32px;line-height:32px;margin:0 0 0 15px;float:left;}
.i_nav .nav_list li a{color:#787878;padding:0 12px;display:block;float:left;border-radius:3px;}
.i_nav .nav_list li a:hover,.i_nav .nav_list li a.hover{color:#787878;background:#f6f6f6;}
.i_nav .top_publish{height:30px; line-height:30px; padding:0 10px;border-radius:3px;background:#ffa015;margin:40px 0 0;float:right;}
.i_nav .top_publish a{ color:#fff; font-size:14px;a}
.i_nav .top_seach{width:296px;height:30px;border-radius:3px;padding:3px;background:#ffa015;margin:38px 0 0;float:right; overflow:hidden;}
.i_nav .top_seach .search_text{width:233px;height:30px;line-height:30px;float:left;border:0;outline:0;background:#fff;padding:0 10px;display:block;font-family:"microsoft yahei";}
.i_nav .top_seach .seach_botton{width:43px;height:30px;float:left;border:0;cursor:pointer;background-position:left top;}
.i_main_bg{background:#f7f7f7;border-top:1px solid #fed791; padding:20px 0 45px;}
.i_main{width:960px; margin:0 auto;}
.i_main_list{ width:960px; height:30px; margin:0 auto 20px;}
.i_main_list li{ height:30px; float:left;}
.i_main_list li a{ padding:0 15px; height:30px; display:block; float:left; color:#333; line-height:30px; border-radius:3px; -moz-border-radius:3px;-ms-border-radius:3px;-webkit-border-radius:3px; font-size:14px;}
.i_main_list li a:hover{ color:#ffa015 }
.i_main_list li a.hover{ color:#fff; background:#ffa015; font-weight:bold; }
.i_main_left{ width:640px; float:left;}
.bg_radius{ background:#fff; border-radius:3px;}
.left_one{  padding:15px 20px; margin:0 0 15px;}
.left_one .one_name{ height:25px; line-height:25px; position:relative;}
.jiantou{ float:left; }
.jiantou span{ float:left; display:block;}
.jiantou span.jt_left{ width:19px; height:16px; float:left}
.jiantou span.jt_right{ width:19px; height:16px; float:left; padding:0 0 0 5px;}
.jiantou span.jt_left a{ width:19px; height:16px; display:block; float:left; background-position:-45px top;}
.jiantou span.jt_right a{ width:19px; height:16px; display:block; float:left; background-position:-65px top;}
.jiantou span.jt_left a:hover{ background-position:-45px -17px;}
.jiantou span.jt_right a:hover{ background-position:-65px -17px;}
.one_nr{ height:auto !important; height:40px; min-height:40px; line-height:20px;}
.left_two{padding:0 20px 20px; margin:0 0 15px;}
.two_title{ height:35px; line-height:35px; padding:20px 0 0; position:relative;}
.two_title .name_pic{ width:35px; height:35px; border-radius: 50%;-moz-border-radius: 50%;-ms-border-radius: 50%;-o-border-radius: 50%;-webkit-border-radius: 50%;overflow: hidden; float:left;}
.two_title .name_pic img{ width:35px; height:35px;}
.padding_left10{ padding-left:10px;}
.two_title .title_more{ position:absolute;top:20px; right:0;}
.two_title .title_more a{ color:#9b8878;}
.two_name{ padding-top:10px; height:38px; line-height:38px; font-size:18px;}
.two_name a{ color:#503e2c;}
.two_info{ line-height:25px; color:#333; font-size:14px; padding-bottom:25px; padding-top:5px;}
.two_info img{padding:10px 0;}
.two_info .gaoxiao span{ padding:0 10px 0 7px;}
.zhichi_bg{ height:28px;}
.zhichi_bg .chizhi_left{ height:26px; border:1px solid #e8e8e8; border-radius:3px; float:left; margin-right:15px; position:relative;}
.zhichi_bg .chizhi_left .zhichi_tishi{ width:150px; position:absolute; top:-36px; left:0; border:1px solid #e8e8e8; background:#fff; text-align:center;display:block;  height:30px; line-height:30px;}
.chizhi_left a{ height:26px; line-height:26px; padding:0 10px; font-family:Arial;}
.chizhi_left a.color_1{ color:#a6e0c3;}
.chizhi_left a.color_4{ color:#fbb9b0;}
.chizhi_left a.color_2{ color:#4dc187;}
.chizhi_left a.color_3{ color:#f35a61;}
.chizhi_left a .one1,.chizhi_left a .one2,.chizhi_left a .one3,.chizhi_left a .one4{width:17px; height:16px; background:url(../images/icons.gif) no-repeat; display:inline-block; position:relative; top:3px; padding-right:4px;}
.chizhi_left a .one1{background-position:-12px -17px;}
.chizhi_left a .one2{background-position:-62px -19px;}
.chizhi_left a .one3{background-position:-12px -117px;}
.chizhi_left a .one4{background-position:-62px -119px;}
.right_tuijian{ background:#fff; padding:0 15px 20px;}
.right_tuijian li{ width:270px; padding:20px 0 15px; float:left; border-bottom:1px solid #e1e1e1}
.right_tuijian li p{ height:36px; overflow:hidden;}
.right_tuijian li .pic{ float:left; _display:inline; padding:0 10px 0 0;}
.right_tuijian li a{ line-height:18px;}
.right_tuijian li .time{ color:#bcbcbc; padding:10px 0 0; clear:both; }
.right_tuijian li .time em{ color:#b69e88; padding-right:10px;}
.bshare_bg{ width:120px; float:right;}
.bshare_bg span{ float:right; line-height:26px; padding:0 10px 0 0; color:#999;}
.bshare_bg .bshare_icon{ width:31px; height:28px; float:right;}
.bshare_bg .bshare_icon a{ width:31px; height:28px; background:url(../images/bshare.png) no-repeat left top; display:block; cursor:pointer;}
.bshare_info{ width:119px; height:22px; padding:4px 0 0; border:1px solid #f3f3f3; float:right; position:relative; z-index:1;}
.bshare_info li{ width:19px; padding:0 5px; height:18px; float:left; border-right:1px solid #f3f3f3}
.bshare_info li a{ width:18px; height:18px; display:block; cursor:pointer;}
.bshare_info li a.one1,.bshare_info li a.one2,.bshare_info li a.one3,.bshare_info li a.next{ width:18px; height:18px; background:url(../images/share_icon.gif) no-repeat;}
.bshare_info li a.one1{ background-position:-110px top;}
.bshare_info li a:hover.one1{ background-position:left top;}
.bshare_info li a.one2{ background-position:-110px -40px;}
.bshare_info li a:hover.one2{ background-position:left -40px;}
.bshare_info li a.one3{ background-position:-110px -80px;}
.bshare_info li a:hover.one3{ background-position:left -80px;}
.bshare_info li a.next{ background-position:-135px 3px;}
.bshare_info li.end{ height:22px;_height:18px; border-right:none;}
.bshare_info li.end a.next{ height:22px;_height:18px; border-right:none;}
.bshare_list_bg {width:107px; position:absolute; top:33px;top:30px !important; _top:30px; padding:5px 0 0; right:-10px; z-index:100; display:none;}
.bshare_list li.tenxun a,.bshare_list li.qq a,.bshare_list li.douban a,.bshare_list li.renren a{ background:url(../images/share_icon.gif) no-repeat;}
.bshare_list{ width:105px;  border:1px solid #e6e6e6; }
.bshare_list li{width:105px; padding:0; height:38px; float:left; border-right:none;background:#fff;}
.bshare_list li a{ width:75px; height:38px; line-height:38px; display:block;  cursor:pointer; padding-left:30px;}
.bshare_list li a:hover{ background-color:#f6f6f6; color:#333;}
.bshare_list li.tenxun a{ background-position:-100px -70px;}
.bshare_list li.tenxun a:hover{ background-position:10px -70px;}
.bshare_list li.qq a{ background-position:-100px -110px;}
.bshare_list li.qq a:hover{ background-position:10px -110px;}
.bshare_list li.douban a{ background-position:-100px -150px;}
.bshare_list li.douban a:hover{ background-position:10px -150px;}
.bshare_list li.renren a{ background-position:-100px -190px;}
.bshare_list li.renren a:hover{ background-position:10px -190px;}
.bshare_jt_top{ width:18px; height:15px; background:url(../images/i_icon.gif) no-repeat -120px -80px; position:absolute; top:-8px; right:17px; z-index:10;}
.pages_bg{ height:35px; margin-top:20px;}
.pages{ height:35px; float:left;}
.pages a{ height:35px; display:inline-block; float:left; padding:0 10px; margin:0 5px 0 0; border-radius:3px; line-height:35px; font-size:14px}
.pages a:hover{color:#ff844f;}
.pages a.hover{ background:#fff; color:#ff844f;}
.pages a.first{ width:40px; height:35px; padding:0; margin:0 10px 0 0; display:inline-block; float:left; background:#fff url(../images/i_icon.gif) no-repeat -90px top; }
.pages_next{ width:100px; height:35px; float:right;}
.pages_next a{ width:100px; height:35px; display:block; cursor:pointer;background:url(../images/i_icon.gif) no-repeat left -40px;}
.pages_bottom{ width:155px;height:22px;line-height:22px; text-align:center; margin:15px auto 0}
.pages_bottom span{ height:22px; line-height:22px; float:left; color:#999;}
.pages_bottom a{ width:22px; height:22px; float:left; margin:0 0 0 10px;}
.pages_bottom a.one{background:url(../images/i_icon.gif) no-repeat -105px -40px;}
.pages_bottom a.two{background:url(../images/i_icon.gif) no-repeat -130px -40px;}
.left_advert{ width:640px; height:60px; margin:15px 0 0;}
.i_main_rightbg{ width:300px; float:left; padding-left:20px; }
.i_main_right{ width:300px; float:left;}
.right_advert_bg{ margin-bottom:15px;}
.right_advert{width:300px;height:250px;}
.right_ch_advert{width:960px;height:90px; margin:10px auto 0; overflow:hidden;}
.margin_top10{ margin-top:15px;}
.right_name{ height:40px; line-height:40px;}
.right_list{ width:303px; margin-left:-3px;}
.right_list li{ width:90px; height:90px; overflow:hidden; border:4px solid #ebebeb; float:left; margin-left:3px; display:inline;}
.right_botton_bg{ height:39px;}
.right_botton_bg span.regest{margin:0 10px;}
.right_botton_bg span.login,.right_botton_bg span.regest{ width:100px; height:39px; float:left; display:block; font-size:16px; font-weight:bold;}
.right_botton_bg span.login a,.right_botton_bg span.regest a{ width:100px; height:39px; line-height:39px; border-radius:3px; display:block; color:#fff; text-align:center;}
.right_botton_bg span.login a{background:#fd7647;}
.right_botton_bg span.regest a{background:#41c184;}
.right_botton_bg span.top{ width:80px; height:39px; float:left;}
.right_botton_bg span.top a{width:80px; height:39px; display:block; background:url(../images/i_icon.gif) no-repeat left -80px;}
.bottom_bg{ background:#525252; padding:0 0 20px;}
.bottom{ width:960px; margin:0 auto;}
.bottom .name{ height:50px; line-height:50px;}
.bottom_list{padding:0 0 20px;}
.bottom_list li{width:125px; float:left; height:26px; line-height:26px;}
.margin_left10{ margin-left:10px;}
.info_gx_list{width:640px; padding:20px 0 0; margin:15px auto 0;}
.info_gx_list li{width:104px; height:195px; float:left; padding:0 0 0 20px;}
.chj_info_gx_list{width:960px;}
.chj_info_gx_list li{ padding:0 12px 0 20px;}
.info_gx_list li img{width:104px; height:137px; display:block;}
.info_gx_list li span{width:104px; height:34px; color:#f35a61; line-height:17px; padding:5px 0 0; display:block;}
.info_left_advert{ width:640px; height:90px; margin:15px 0 0;}
.info_advert_list{ height:250px; margin:0px 0 0;}
.info_advert_list .advert_one{width:300px; height:250px; float:left;}
.info_advert_list .advert_two{width:335px; height:250px; float:left; margin-left:5px; display:inline;}
.info_advert_word{ width:600px; height:90px; margin:20px auto 0;}
.info_advert_wordone{ width:640px; height:95px; overflow:hidden; margin:20px auto 0;}
.info_tiao_bg{ height:27px; margin:25px 0 0;}
.info_jiantou{ width:27px; height:27px; float:right;display:block;}
.info_jiantou a{ width:27px; height:27px; display:block; cursor:pointer; background:url(../images/i_icon.gif) no-repeat -90px -80px;}
.info_next{ width:66px; height:27px; float:left;display:block; margin:0 0 0 10px;}
.info_next a{ width:66px; height:27px; line-height:27px; display:block; cursor:pointer; background:#ffa015; border-radius:3px; text-align:center; color:#fff; }
.info_top20{top:20px;}
.margin_top0{ margin-top:0;}
.zichan_bg{ width:960px; margin:0 auto;border-bottom:2px solid #f2f2f2}
.zichan_main{background:#fff;border-bottom:2px solid #e6e6e6; padding-bottom:100px;}
.zichan_left{ width:320px; float:left;}
.zichan_left li{ height:37px; line-height:37px;}
.zichan_left li a{ height:37px; display:block; padding:0 0 0 67px; font-size:14px;	 }
.zichan_left li a:hover{ color:#ffa015;}
.zichan_left li a.hover{ color:#fff; background-color:#ffa015; font-weight:bold;}
.zichan_right{ width:575px; padding:0 0 0 20px; float:left;}
.zichan_right_name{ height:30px; padding:6px 0 0; line-height:30px; border-bottom:1px solid #ededed}
.zc_right_main{ padding:10px 0 0 10px;}
.line_height30{ line-height:30px;}
.zc_text_bg{ height:36px; padding:23px 0 0; color:#666}
.zc_text{ width:200px; height:34px; border-top:1px solid #c4c4c4; border-left:1px solid #c4c4c4; border-right:1px solid #ebebeb; border-bottom:1px solid #ebebeb; font-family:"microsoft yahei"; outline:0; padding:0 5px;}
.zc_text_bg span{ height:36px; float:left;line-height:36px; }
.zc_login_botton{ padding:23px 0 0 87px;}
.zc_login_botton a{height:36px; line-height:36px; padding:0 20px; background:#ffa015; font-size:14px; color:#fff; display:inline-block; border-radius:3px;}
.dh_main{ border:1px solid #f2f2f2; padding:10px 30px 30px; margin:25px 0 0;}
.color_green a,a.color_green{ color:#588c0e}
.dh_name{ height:35px; line-height:35px; border-bottom:1px solid #f2f2f2}
.dh_dq_jfb{ padding:5px 0 0 15px;}
.zhanghao_border{padding:20px 0 0;}
.zhanghao_border td{ height:41px; text-align:center}
.zhanghao_border .height37 td{ height:37px;}
.ny_bottom{width:960px;margin:0 auto; padding:15px 0 0; text-align:center; line-height:30px;}
.ny_bottom .bottom_word a{ padding:0 15px;}
.ny_bottom .bottom_pic{padding:10px 0 0;}
.ny_bottom .bottom_pic a{ height:48px;margin:0 0 0 10px; border:1px solid #d4d2d4; display:inline-block;}
/* layer */
.layer_login_nr{width:486px; height:auto !important;height:240px; min-height:240px;margin:10px auto; background:#fff; position:relative; text-align:center; line-height:27px; padding:45px 0 0;}
.layer_login_close{ width:30px; height:30px; position:absolute;top:0; right:-30px;}
.layer_login_close{ width:30px; height:30px; background:url(../images/layer_bg.png) no-repeat left top; cursor:pointer; display:block;}
.layer_login_qq{ width:70px; height:70px; margin:25px auto}
.layer_login_qq a{ width:70px; height:70px; display:block; cursor:pointer; background:url(../images/login_icons.png) no-repeat left top;}
.layer_login_qq a:hover{ background:url(../images/login_icons.png) no-repeat left -90px;}
.layer_luck_bg{ width:640px; height:387px; background:#e55333; position:relative;}
.layer_luck_list{ padding:10px 0 0 10px;margin:0 auto;}
.layer_luck_list li{ width:90px; height:78px;  background:#ffc80c; margin:3px 0 0 3px; float:left; border:5px solid #ffc80c;}
.layer_luck_list li.boder_bg{border:5px solid #ef9885}
.layer_luck_list li .one1{width:90px; height:78px; display:block; background:url(../images/layer_jp.png) no-repeat left top;}
.layer_luck_list li .one2{width:90px; height:62px; display:block; background:url(../images/layer_jp.png) no-repeat -100px top;}
.layer_luck_list li .one3{width:90px; display:block; text-align:center; font-size:14px; color:#e74f37; line-height:15px;}
.layer_luck_list li.li_center{ width:409px; height:88px; background:#ebeded; border:0; }
.layer_luck_list li.li_center .word{ padding:15px 10px 0 20px; line-height:20px}
.luck_botton{ width:192px; height:59px; margin:10px auto 0;}
.luck_botton a{ width:192px; height:59px; display:block; cursor:pointer; background:#ffc80c; color:#e45133; font-size:30px;  line-height:59px; text-align:center; border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px; -o-border-radius:30px;}
.luck_botton a:hover{background:#ffc80c; color:#e45133;}
.layer_luck_list li.li_bottom{ width:409px; height:91px; margin:0 0 0 3px; background:#ebeded; }
.draw_bg{ width:638px; height:125px; background:#fff; border:1px solid #e5e5e5; margin:25px 0 0;overflow: hidden;}
.draw_bg .draw_name{ height:30px; padding:10px 0 0 20px; line-height:30px;}
.draw_bg .draw_list li{ width:290px; height:26px; line-height:26px; margin:0 0 0 20px; display:inline; float:left; color:#666}
.draw_bg .draw_list li span{ float:left; display:block; overflow:hidden;}
.draw_bg .draw_list li span.word{ width:121px;}
.draw_bg .draw_list li span.word1{ width:74px; color:#ff8400; font-weight:bold;}
.draw_bg .draw_list li span.word2{ width:85px}

.padding_top20{ padding-top:20px;}
.chj_info_three{ width:1030px; margin:15px 0 15px -30px;}
.chj_info_three li{ width:300px; height:250px; float:left; margin:0 0 0 30px; display:inline;}
.layer_bshare_name .bshare_close a,.layer_bshare_yj .bshare_jt,.layer_bshare_icon a{background:url(../images/layer_bshare.png) no-repeat left top;}
.layer_bshare_bg{ width:536px; height:438px; background:#fff; margin:0 auto;}
.layer_bshare_name{ height:32px; background:#ffa015; border-bottom:1px solid #f27d00; padding:0 0 0 15px; line-height:32px; position:relative;}
.layer_bshare_name .bshare_close{ width:10px; height:10px; position:absolute; top:12px; right:15px;}
.layer_bshare_name .bshare_close a{ width:10px; height:10px; display:block; cursor:pointer; background-position:left top; overflow:hidden}
.layer_bshare_main{ width:497px; margin:0 auto; padding:30px 0 0; line-height:25px;}
.layer_bshare_textbg{ width:483px; height:30px; padding:5px 0 40px; position:relative;} 
.layer_bshare_textbg .sucess{  height:15px; line-height:15px; position:absolute; bottom:15px; left:0; color:#129c00; background:url(../images/success.png) no-repeat left 2px; padding-left:20px;}
.layer_bshare_textbg .text{ width:378px; height:28px; border:1px solid #c6c8ce; padding:0 5px; outline:none; color:#a3a5a6; line-height:28px; float:left; }
.layer_bshare_textbg .botton{ width:88px; height:30px; float:left; padding-left:5px; text-align:center; line-height:30px;  border:0;}
.layer_bshare_textbg .botton a{ width:88px; height:30px; display:block; cursor:pointer; text-align:center; line-height:30px; background:#ffa015; color:#fff; border:0;}
.layer_bshare_yj{ width:467px; position:relative; margin:20px 0 10px; border:1px solid #dae2ea; background:#eff2f6; padding:15px; line-height:22px;}
.layer_bshare_yj .bshare_jt{ width:14px; height:7px; position:absolute; top:-7px; left:3px; background-position:left -12px;}
.bshare_span{ float:left; display:block;} 
.layer_bshare_icon {float:left;}
.layer_bshare_icon a{ width:24px; height:24px; display:inline-block; margin-left:5px;}
.layer_bshare_icon a.qq{ background-position:-15px top;}
.layer_bshare_icon a.kongjian{ background-position:-44px top;}
.layer_bshare_icon a.weibo{ background-position:-73px top;}
.layer_bshare_icon a.pyq{ background-position:-102px top;}
.error_bg{ width:350px; height:200px; line-height:40px; margin:150px auto;background:url(../images/error.gif) no-repeat left top; padding:70px 0 0 350px; font-size:14px;}
.layer_prompt{ text-align:left; padding-left:70px;}
.layer_collect_bg{ position:relative; margin:30px 0 0;}
.layer_collect{ width:120px; height:39px; margin:0 auto 0; }
.layer_collect a{ width:120px; height:39px; display:inline-block; font-size:16px; background:#fd7647; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -webkit-border-radius:3px; color:#fff; text-align:center; line-height:39px;} 
.layer_collect_bg .word{ position:absolute; top:0; right:35px; line-height:39px; }
.layer_login_nr_bi{background:#fff url(../images/bi.png) no-repeat left top; padding:45px 0 20px;}
.layer_pic_bg{ width:383px; margin:10px auto;}
.layer_pic_top{ width:383px; height:502px; position:relative; background:url(../images/layer_pic_top.png) no-repeat left top;_background:none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="images/layer_pic_top.png");}
.layer_pic_close{ width:60px; height:60px; position:absolute; top:10px; right:0px;background:url(../images/layer_close.png) no-repeat left top;_background:url(../images/layer_close1.png) no-repeat left top}
.layer_pic_close a{ width:50px; height:51px; display:block; cursor:pointer; }
.layer_pic_botton{ width:117px; height:39px; position:absolute; bottom:2px; left:0;}
.layer_pic_botton a{ width:117px; height:39px; display:block; cursor:pointer; background:url(../images/layer_botton.png) no-repeat left top;_background:url(../images/layer_botton1.png) no-repeat left top}
.overDiv{background-color: black;width: 100%;height: 100%;left: 0;top: 0;filter: alpha(opacity=80);opacity: 0.8;z-index: 10;position: fixed!important; display:none;}
.pub_main_left{ width:600px; float:left; background:#fff; padding:20px 20px 100px;}
.pub_title_text{ width:315px;}
.pub_title_word{ line-height:35px; font-size:14px; font-weight:bold;}
.pub_title_textarea{ width:508px; height:280px; resize:none; padding:5px; font-size:14px;}
.pub_title_p span{ float:left;}
.margin_top40{ margin-top:40px;}
.margin_top30{ margin-top:30px;}
.pub_botton{ height:36px; line-height:36px; padding:10px 0 0 70px;}
.pub_botton a{ padding:0 15px; display:inline-block; cursor:pointer; font-size:14px; height:36px; color:#fff; background:#ffa015;border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -webkit-border-radius:3px;}
.pub_main_right{ width:270px; padding:15px; float:right; background:#fff; line-height:24px;}
.pub_pic{  padding:10px 0 10px 70px;}
.pub_pic_botton{width:30px; height:27px; position:relative; line-height:16px; cursor: pointer; display:inline-block; padding:0 6px 0 26px; line-height:27px; background:url(../images/pic_icon.png) no-repeat 6px 6px;}
.pub_pic_botton:hover{background-color:#f9f2e1;cursor: pointer; }
.pub_pic_file{width:56px; height:27px; position:absolute; filter:alpha(opacity:0);opacity: 0; left:0; top:0;  cursor: pointer;}
.margin_left10{ margin-left:10px;}
.pub_title_feilei{ line-height:35px;}
.pub_title_feilei input{ vertical-align:-2px;}
.pub_pic_down{width:200px;height:200px; position:relative; text-align:center; line-height:200px;  border:1px solid #ebebeb;  position:relative; margin:10px 0 0; }
.pub_pic_down img{max-height:200px;max-width:200px;vertical-align: middle;_top: -50%;_left: -50%; position:relative; z-index:2; }
.pub_pic_down .word{width:200px; height:200px; text-align:center; line-height:200px; position:absolute; top:0; left:0; font-size:14px;z-index:1; }
.pub_pic_down .file{width:200px; height:100px;background:#ddd; position:absolute; top:0; left:0;}
.layer_news_main{ width:536px; height:438px; margin:0 auto; background:#fff; position:relative;}
.layer_news_name{ padding:30px 0 0; line-height:20px; text-align:center;}
.layer_news_info{ line-height:19px; padding:15px 20px 0;}
.layer_pic{ width:138px; height:28px; float:left;background:url(../images/layer_1.gif) no-repeat left top; display:inline; }
.padding_top5{ padding-top:5px;}
.layer_botton_news{ width:187px; height:29px; margin:20px auto 0;}
.layer_botton_news a{ width:187px; height:29px; display:block; cursor:pointer; background:url(../images/layer_botton_news.png) no-repeat left top;}
a.layer_news_close{ width:12px; height:12px; display:block; cursor:pointer; background:url(../images/layer_news_close.jpg) no-repeat left top; position:absolute; top:11px; right:11px;} 
.padding_top5{ padding-top:5px;}
.float_left{ float:left; }
a.jfb_botton{ padding:5px 10px; display:inline; cursor:pointer; color:#fff; background-color:#ffa015; border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-webkit-border-radius:3px;}
a:hover.jfb_botton{color:#fff; }